.register-form {
	padding: 5%;
}

.register-form form {
	display: flex;
	flex-direction: column;
}

.register-form input {
	border: none;
	outline: none;
	width: 100%;
	min-height: 44px;
	border-bottom: 1px solid rgb(217, 216, 219);
	font-size: 17px; font-size: 1.05em;
}